.newproject_continer{
    width: 500px;
    margin: 3em auto;
    padding: 3.5em;

    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);  
}

.newproject_continer h1{
    text-align: center;
    margin-bottom: 1em;
}

.newproject_continer p{
    text-align: center;
}

.newproject_continer h2{
    text-align: center;
    padding-top: 1em;
}
