.project_card{
    padding: 2em;
    border-radius: 20px;
    margin: 5em;

    backdrop-filter: blur(10px);
    background: #ffffff33;
    box-shadow: 0 15px 35px #0000000d;
    border: 1px solid #ffffff40;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80; 
}

.center{
    text-align: center;
}


.project_card h2{
    text-align: center;
    color: #ffbb33;
    padding: 0.7em;
    margin-bottom: 1em;
}

.project_card p{
    margin-bottom: 1em;
    overflow: hidden;
}

.project_card p span{
    font-weight: bold;
}

.project_card button{
    text-decoration: none;
    border: none;
    font-size: 0.9em;
    margin-top: 3em;
    padding: 0.6em 1.2em;
    cursor: pointer;
    background-color: #282A35;
    color: white;
    border-radius: 2em;
    transition: 0.5s;
    overflow: hidden;
}

.project_card button:hover{
    color: #ffbb33;
}