/* -------------------------------------------------------------------------- */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #282A35;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffbb33;
  border-radius: 20px;
  border: 3px solid #282A35;
}

/* -------------------------------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sarala', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #ffbb33 #282A35;
}

html,
body,
#root {
  background-color: #efefef;
  height: 100%;
}